configuration {
    show-icons: 					false;
    sidebar-mode: 					false;
    scroll-method: 					0;
    click-to-exit: 					true;
}

* {
    /* Dracula theme colour palette */
    drac-bgd: #282a36;
    drac-cur: #44475a;
    drac-fgd: #f8f8f2;
    drac-cmt: #6272a4;
    drac-cya: #8be9fd;
    drac-grn: #50fa7b;
    drac-ora: #ffb86c;
    drac-pnk: #ff79c6;
    drac-pur: #bd93f9;
    drac-red: #ff5555;
    drac-yel: #f1fa8c;

    //font: "Fira Code 12";

    foreground: @drac-fgd;
    background-color: @drac-bgd;
    active-background: @drac-pnk;
    urgent-background: @drac-red;
    
    selected-background: @active-background;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    separatorcolor: @active-background;
    bordercolor: #6272a4;
}

window {
    border: 						3;
    border-color: 					@bordercolor;
    border-radius: 					6;
    padding: 						5;
    width: 							360;
}

prompt {
    spacing: 						0;
    text-color: 					@drac-grn;
}

textbox-prompt-colon {
    expand: false;
    str: 							":";
    margin:							0px 0.3em 0em 0em;
    text-color: 					@drac-grn;
}

entry {
    spacing:    					0;
    text-color: 					@drac-cya;
}

case-indicator {
    spacing:    					0;
    text-color: 					@foreground;
}

inputbar {
    children: 						[ prompt,textbox-prompt-colon,entry,case-indicator ];
}

mainbox {
    border: 						0px;
    padding: 						5;
}

listview {
    fixed-height: 					0;
    border: 						2px dash 0px 0px;
    border-color: 					@bordercolor;
    spacing: 						2px;
    scrollbar: 						false;
    padding: 						2px 0px 6px;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}

element {
    border: 						0px;
	/* consider border-radius*/
    padding: 						1px;
}
element normal.normal {
    background-color: 				@background;
    text-color:       				@foreground;
}
element normal.urgent {
    background-color: 				@urgent-background;
    text-color:       				@urgent-foreground;
}
element normal.active {
    background-color: 				@active-background;
    text-color:       				@background;
}
element selected.normal {
    background-color: 				@selected-background;
    text-color:       				@foreground;
}
element selected.urgent {
    background-color: 				@selected-urgent-background;
    text-color:       				@foreground;
}
element selected.active {
    background-color: 				@selected-active-background;
    text-color:       				@background;
}
element alternate.normal {
    background-color: 				@background;
    text-color:       				@foreground;
}
element alternate.urgent {
    background-color: 				@urgent-background;
    text-color:       				@foreground;
}
element alternate.active {
    background-color: 				@active-background;
    text-color:       				@foreground;
}

sidebar {
    border:       					2px dash 0px 0px;
    border-color: 					@separatorcolor;
}

scrollbar {
    width:        					2px;
    border:       					0px;
    handle-width: 					8px;
    padding:      					0;
}

message {
    border: 						1px dash 0px 0px;
    border-color: 					@separatorcolor;
    padding: 						1px;
}
